<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/template/alxer_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/template/setup.css">
   
</head>
<body>
    <header class="chel">
        <img src="/template/lap logo.png" alt="logo" class="logo">
        <h3 class="kobi"> WELCOME : Admin.......</h3>
    </header>

    <div class="jala">

    <div class="dance">

        <div class="keg">
            <div class="keg1">
            <div class="led">
                <img src="/template/deb-werw.jpg" alt="profile-pic">
            </div>
            <div class="paga">
                <h1 class="poja">Name</h1>
                <h3>Debby joe</h3>
                <h1 class="poja"> USER-ID</h1>
                <h2>76438-ossff-4ws</h2>
                <h1 class="poja">DEPARTMENT</h1>
                <h3>Computer Science</h3>
                <h1 class="poja">GENDER</h1>
                <h3>Female</h3>
                <h1 class="poja">ROLE</h1>
                <H3>Head of ICT</H3>
                
            </div>
        </div>
        </div>
        <div class="keg">box 2</div>
        <div class="keg">box3</div>
        <div class="keg">box 4</div>
        <div class="keg">box 5</div>
        <div class="keg">box 6</div>
    </div>
</div>

</body>
</html>