.femi{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    /* color: rgb(32, 199, 32);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */

    
}

.jago{
    width: 700px;
    height: 400px;
    display: flex;
    background-color: white;
    padding: 29px;
    margin-bottom: 6px;
    border-radius: 9px;
    box-shadow: 5px 5px 5px 7px rgb(32, 199, 32)
}
.obi{
    padding: 3px;
    margin-left: 5px;
}
.kd{
    border: 2px double green;
    border-radius: 5px;
    display: inline-block;
    text-shadow: 1.5px 1.5px 2px white;
    padding: 5px;
    margin: 5px;
    background-color: white;
    font-weight: 900;
    font-size: 35px;
    font-style: italic;
    color:white;
    background-color: green;
    box-shadow: 5px 5px 5px rgb(32, 199, 32);
}
