<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/temp/assest/alxer_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/temp/setup.css">
     <!-- <link rel="stylesheet" href="/temp/bootstrap-5.3.3-dist/css/bootstrap.min.css"> -->
   
</head>
<body>
    <header class="chel">
        <img src="/temp/assest/lap logo.png" alt="logo" class="logo">
        <h3 class="kobi"><i class="material-icons"></i> ADMIN.... : {{current_user.first_name}}-{{current_user.last_name}}</h3>
        <a href="{{ url_for('logout') }}" class="lobk">Logout</a>
    </header>

    <div class="jala">

    <div class="dance">

        <div class="keg">
            <div class="keg1">
            <div class="led">
                <img src='{{ imagefile }}' alt="profile-pic" class="gss">
            </div>
            <div class="mah">
            </div>
            <div class="paga">
                <h1 class="poja">SCHOOL-NAME </h1>
                <h3>ALX TECH COLLEGE</h3>
                <h1 class="poja">Name</h1>
                <h3>{{current_user.first_name}} {{current_user.last_name}}</h3>
                <h1 class="poja"> USER-ID</h1>
                <h2>{{current_user.user_id}}</h2>
                <h1 class="poja">DEPARTMENT</h1>
                <h3>Computer Science</h3>
                <h1 class="poja">ROLE</h1>
                <H3>Head of ICT</H3>
                
            </div>
        </div>
        </div>
        <div class="keg">
            <div class="a">
                <h2 class="jo">NO - 34 </h2>
            <a href="{{url_for('subject')}}", class="hj">Register Student</a>

            </div>
            
        </div>
        <div class="keg">
            <a href="{{url_for('teach_reg')}}" class="low">Teacher Registration</a>
        </div>
        <div class="keg">
            <h2>
                <a class='hrt' href="{{url_for('student')}}">REGISTER STUDENT</a>
            </h2>
        </div>
        <div class="keg">
            <div>
                <a class="sd" href="{{url_for('admin_reg')}}">STUDENT REGISTRATION</a>
            </div>
        </div>
        <div class="keg">


        </div>

        </div>
    </div>
</div>


<!-- <script src="/template/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script> -->

</body>
</html>