<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/temp/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/temp/assest/alxer_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/temp/setup.css">
    <title>class reg</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Add Class, Term, and Year</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.cls_name.label(class="form-label") }}
                {{ form.cls_name(class="form-control", size=30) }}
                {% for error in form.cls_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.term_name.label(class="form-label") }}
                {{ form.term_name(class="form-control", size=30) }}
                {% for error in form.term_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.year.label(class="form-label") }}
                {{ form.year(class="form-control", size=30) }}
                {% for error in form.year.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>







<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="/temp/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>
</html>