<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/temp/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/temp/assest/alxer_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/temp/setup.css">
    <title>Teacher-reg</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/temp/assest/lap logo.png" alt="Bootstrap" width="50" height="50">
          </a>
          <span class="navbar-text">
            <i class="bi bi-person-circle"></i>
            TEACHERS-REGISTRATION
          </span>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-dismissible fade show mt-3">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="container form-container">
                <div class="form-content">  
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ jago.hidden_tag() }}
                        <div class="form-group mb-3">
                            {{ jago.First_Name.label(class="form-label") }}
                            {% if jago.First_Name.errors %}
                                {{ jago.First_Name(class="form-control is-invalid", id="firstName", placeholder="Enter first name") }}
                                {% for error in jago.First_Name.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ jago.First_Name(class="form-control", id="firstName", placeholder="Enter first name") }}
                            {% endif %}
                        </div>
                        
                    <div class="form-group mb-3">
                        {{ jago.Last_Name.label(class="form-label") }}
                                        {% if jago.Last_Name.errors %}
                                        {{ jago.Last_Name(class="form-control", id="lastName", placeholder="Enter last name") }}
                                            {% for error in jago.Last_Name.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                        {{ jago.Last_Name(class="form-control", id="lastName", placeholder="Enter last name") }}
                                        {% endif %}
                                        
                                    </div> 
        
                                  
                                    <div class="form-group mb-3">
                                        {{ jago.photo.label() }}
                                        {% if jago.photo.errors%}
                                        {{ jago.photo(type="file", class="form-control-file") }}
                                            {% for error in jago.photo.errors%}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        {% else %}
                                        {{ jago.photo(type="file", class="form-control-file") }}
                                        {% endif %}
                                    </div>
                                    {{ jago.submit(class="btn btn-primary")}}
                                </form>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/temp/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>
</html>
                    